@import 'icomoon';

$primary-color: #52C9DA;
$secondary-color: #FFCC5D;
$white: #ffffff;
$off-white: #FAFAFA;
$border-color: #E3E3E3;
$text-color: #5B5C59;

$failure-color: #FF695D;
$success-color: #52DA96;

@font-face{
  font-family: 'Gotham Medium';
  src: url('../fonts/Gotham-Medium.otf');
}

@font-face{
  font-family: 'Gotham Light';
  src: url('../fonts/Gotham-Light.otf');
}

@font-face{
  font-family: 'Gotham Bold';
  src: url('../fonts/Gotham-Bold.otf');
}

@font-face{
  font-family: 'Gotham Thin';
  src: url('../fonts/Gotham-Thin.otf');
}

$border-radius: 6px;

